@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    will-change: transform; /* Memberi tahu browser untuk mengoptimasi elemen ini */
    transform: translateZ(0); /* Memanfaatkan hardware acceleration */
}


/* header */
.header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f4f4f4;
    overflow: hidden;
}


.hero {
    background-image: url('/assets/frontend/img-4-2000x2000.png');
    background-size: cover;
    height: 132vh; /* Tinggi awal, bisa disesuaikan */
    width: 120vh; /* Lebar awal, bisa disesuaikan */
    position: absolute;
    top: -220px; /* Offset vertikal, bisa disesuaikan */
    right: -220px; /* Offset horizontal, bisa disesuaikan */
    color: white;
    z-index: 1;
}

/* Media Query untuk perangkat lebih kecil */
@media (max-width: 768px) {
    .hero {
        height: 60vh; /* Sesuaikan tinggi untuk perangkat kecil */
        width: 60vw; /* Sedikit kurangi lebar di perangkat kecil */
        right: -20px; /* Atur offset agar tidak menghalangi */
    }
}

@media (max-width: 480px) {
    .hero {
        height: 60vh; /* Sesuaikan tinggi lebih kecil untuk ponsel */
        width: 70vw; /* Lebar diatur lebih kecil */
        right: -10px; /* Offset ke kanan lebih kecil di ponsel */
    }
}


/* Navbar */
.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Arial, sans-serif;
    margin-left: -40px;
    color: #000000;
}

.navbar {
    background: transparent;
    padding: 30px;
}

.navbar-nav .nav-link {
    font-weight: 500;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
    transition: color 0.3s ease;
}

/* Content */
.content {
    position: absolute;
    top: 365px;
    left: 50px;
    right: 10%;
    max-width: 655px;
    transform: translateY(-50%);
    padding: 0 20px;
    color: #000000;
    margin-top: -60px;
}

.content h1 {
    font-size: 3em;
    font-weight: 300px;
}
.content h2 {
    font-size: 3em;
    font-weight: 300px;
}

/* Black Line */
.black-line {
    border: 0;
    height: 2px;
    border-top: 3px solid #000000;
    background-color: #000000;
    width: 12%;
    margin: 20px 0;
    position: relative;
    right: 275px;
    margin-top: -100px;
}

/* Paragraph */
p {
    font-weight: 550;
    text-justify: auto;
}

/* Button */
.btn-black {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-black:hover {
    background-color: #333;
}

/* Responsif untuk perangkat kecil */
@media (max-width: 768px) {
    /* Navbar */
    .navbar {
        padding: 20px;
    }

    .navbar-brand {
        font-size: 1.5rem;
        margin-left: -10px;
    }

    .navbar-nav .nav-link {
        margin-right: 10px;
        margin-top: 5px;
    }

    /* Content */
    .content {
        top: 50%;
        left: 20px;
        right: 20px;
        max-width: 100%;
        padding: 0 15px;
        transform: translateY(-50%);
    }

    .content h1 {
        font-size: 2.2em;
    }
    .content h2 {
        font-size: 2.2em;
    }

    /* Button */
    .btn-black {
        width: 100%;
        font-size: 16px;
        padding: 12px 20px;
    }

}

@media (max-width: 480px) {
    /* Navbar */
    .navbar {
        padding: 15px;
    }

    .navbar-brand {
        font-size: 1.2rem;
        margin-left: -10px;
    }

    .navbar-nav .nav-link {
        margin-right: 5px;
        margin-top: 5px;
        font-size: 0.9rem;
    }

    /* Content */
    .content {
        top: 50%;
        left: 10px;
        right: 10px;
        max-width: 100%;
        padding: 0 10px;
        transform: translateY(-50%);
    }

    .content h1 {
        font-size: 1.8em;
    }
    .content h2 {
        font-size: 1.8em;
    }

    /* Button */
    .btn-black {
        width: 100%;
        font-size: 14px;
        padding: 10px 15px;
    }
}


/* Hamburger menu */
.navbar-toggler {
    position: absolute;
    left: -5px; /* Posisi di sebelah kiri */
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: -80px;
}

/* Sidebar styling */
.sidebar {
    position: fixed; /* Mengubah dari absolute ke fixed untuk membuatnya sticky */
    top: 0; /* Memastikan sidebar berada di bagian atas */
    left: -300px; /* Mulai di luar layar sebelah kiri */
    height: 100vh; /* Tinggi penuh */
    width: 300px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Di atas konten lainnya */
    transition: left 0.3s ease;
    padding: 1.5rem;
    border-bottom-right-radius: 18px; /* Radius untuk sidebar sebelah kiri */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Tampilkan sidebar ketika aktif */
.sidebar.active {
    left: 0; /* Geser masuk dari kiri */
}


/* Sidebar header styling */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #343a40;
}

/* Sidebar navigation styling */
.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    margin-top: -250px;
}

.sidebar-nav li {
    margin-bottom: 15px;
    text-align: left;
}

.sidebar-nav a {
    text-decoration: none;
    color: #495057;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #007bff;
}

/* Sidebar footer styling */
.sidebar-footer {
    font-size: 0.9rem;
    color: #6c757d;
}

/* BAGIAN TENTANG */
.about {
    background-color: white;
    padding: 20px; /* Increased padding for better spacing */
    line-height: 1.6;
    margin-top: 50px;

}

.about h3 {
    margin-top: 55px;
    font-size: 2rem; /* Adjusted font size for responsiveness */
}

.about span {
    display: block;
    margin-bottom: 1em;
}

.about p {
    width: 100%; /* Full width by default */
    max-width: 900px; /* Limit maximum width */
    margin: 0 auto;
    text-align: center;
    line-height: 1.6em;
    padding: 20px;
    box-sizing: border-box;
}

.black-line, .black-line1 {
    border: 0;
    height: 2px;
    width: 60px;
    border-top: 3px solid black;
    margin: 20px auto;
    background-color: black;
    margin-bottom: 50px;
}

/* Responsive Adjustments */

/* Larger devices (desktops, etc.) */
@media (min-width: 992px) {
    .about p {
        max-width: 800px;
    }
}

/* Tablets and smaller desktops */
@media (max-width: 992px) {
    .about h3 {
        font-size: 1.8rem; /* Slightly smaller heading */
    }

    .about p {
        max-width: 700px;
    }
}

/* Mobile devices */
@media (max-width: 768px) {
    .about h3 {
        font-size: 1.5rem; /* Smaller heading on mobile */
    }

    .about p {
        max-width: 600px; /* Narrower content width */
        padding: 15px;
    }

    .black-line{

            width: 40px;
            left: -320px;
            margin-top: 50px;
    }
    .black-line1 {
        width: 50px; /* Smaller black line */
    }
}

/* Extra small devices (phones) */
@media (max-width: 576px) {
    .about h3 {
        font-size: 1.3rem;
    }

    .about p {
        max-width: 100%; /* Full width on small screens */
        padding: 10px;
    }

    .black-line{
        width: 40px;
        right: 145px;
        margin-top: 50px;
    }

    .black-line1 {
        width: 40px; /* Even smaller black line */
    }
}

/* BAGIAN GALERY */
.gallery {
    background-image: url("/assets/frontend/monika-grabkowska-P1aohbiT-EY-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.5); /* Overlay */
    background-blend-mode: darken; /* Darken image */
    width: 100%;
    padding: 3rem;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    align-items: center;
}

.card {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    max-width: 270px;
    min-height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex: 1 1 220px; /* Flex-grow and flex-basis */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: -140px;
    display: block;
}

.card1 {
    font-family: Arial, sans-serif;
}

p {
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .gallery {
        padding: 3rem;
    }

    .card {
        max-width: 250px;
    }
}

@media (max-width: 992px) {
    .gallery {
        padding: 2rem;
        gap: 10px;
    }

    .card {
        max-width: 230px;
        margin-top: 100px;
    }

    .card-image {
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 768px) {
    .card {
        max-width: 230px;
    }

    .card-image {
        width: 180px;
        height: 180px;
        justify-content: center;

    align-items: center;

    }
}

@media (max-width: 576px) {
    .gallery {
        padding: 1rem;
        gap: 8px;
    }

    .card {
        max-width: 275px;
        min-height: 375px;
        margin-top: 80px;
    }

    .card-image {
        width: 230px;
        height: 215px;
        margin-top: -100px;
        justify-content: center;
    align-items: center;

    }

    p {
        font-size: 0.8rem;
    }
}


/* BERITA */
.berita-title {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

.news {
    display: grid;
    place-items: center;
}

.container-news {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 1rem;
}

.aspect-ratio {
    width: 100%;
    height: 0%;
    padding-bottom: 66.67%;
    position: relative;
    overflow: hidden;
}

.aspect-ratio img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

.news-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: white;
}

.news-card-big {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: white;
    min-height: 97%;
    flex-grow: 1;
}

.news-card-big:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.news-card:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.news-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    display: block;
}

.news-body {
    padding: 20px;
}

.news-title {
    font-weight: bold;
}

.news-text {
    color: #6c757d;
    margin-bottom: auto;
}

.news {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
}

.read-more {
    color: #f39c12;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-top: auto;
    margin-left: -14px;
}

.read-more::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s ease, left 0.3s ease;
}

.read-more:hover::after {
    width: 100%;
    left: 0;
}

/* Responsive design */
@media (max-width: 1200px) {
    .container-news {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .berita-title {
        font-size: 20px;
    }

    .news-card,
    .news-card-big {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .news-card,
    .news-card-big {
        max-width: 90%;
        margin: 0 auto;
    }

    .container-news {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .berita-title {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .berita-title {
        font-size: 16px;
    }

    .news-card,
    .news-card-big {
        width: 100%;
        margin-bottom: 20px;
    }

    .container-news {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 480px) {
    .berita-title {
        font-size: 14px;
    }

    .container-news {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .news-card,
    .news-card-big {
        width: 100%;
        margin-bottom: 15px;
    }

    .news-img-top {
        width: 100%;
        height: auto;
    }
}


/* Galery */
/* Galery */
/* Existing CSS */
.galeri-title {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 24px;
    font-weight: bold;
}

.galeri {
    justify-content: center;
    background-color: white;
    gap: 10px;
    margin-top: 10px;
    border-radius: 0px;
    margin-left: -65px;
    margin-right: -65px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.galeri img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    padding-bottom: 100%;
    background-color: #f8f8f8;
    transition: transform 0.3s ease-in-out;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: translate(-50%, -50%) scale(1.05);
}

.image-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.image-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.galeri-btn {
    display: block;
    width: 250px;
    margin: 30px auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: 500;
}

.galeri-btn:hover {
    background-color: darkgray;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .galeri-title {
        font-size: 22px;
        margin: 40px 0;
    }

    .galeri {
        gap: 8px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .galeri-btn {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .galeri-title {
        font-size: 20px;
        margin: 30px 0;
    }

    .galeri {
        margin-left: -20px;
        margin-right: -20px;
    }

    .galeri-btn {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .galeri-title {
        font-size: 18px;
        margin: 20px 0;
    }

    .galeri {
        margin-left: -10px;
        margin-right: -10px;
        gap: 10px;
    }

    .galeri img, .image-container {
        border-radius: 10px;
    }

    .galeri-btn {
        width: 160px;
        padding: 8px;
    }
}


/* FOOTER */
.footer {
    padding: 4.5rem;
    /* margin-top: 3rem; */
    background-color: #000000;
    color: #f4f4f4;
}
.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.footer p {
    color: #b5b5b5;
}

.custom-paragraph {
    padding-right: 190px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    background-color: #3b5998;
}
.social-icons a.twitter {
    background-color: #1da1f2;
}
.social-icons a i {
    font-size: 20px;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: small;
    margin-left: -10px;
}
.contact-info li i {
    margin-right: 10px;
}
.list-unstyled li {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: small;
}

.botten {
    display: grid;
    place-items: center; /* Menengahkan item secara horizontal dan vertikal */
    /* height: 100vh; Mengatur tinggi kontainer ke 100% viewport */
    padding-bottom: 25px;
}

.btn-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.btn-more:hover {
    background-color: #555; /* Change to a lighter shade */
    color: #fff; /* Maintain text color */
    transition: background-color 0.3s; /* Smooth transition */
}





